.wrapper {
  background: #262626;
  min-height: 190px;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 20px 0 0 0;
  font-family: "Montserrat Alternates", serif;
  color: var(--white-color);
}

.logo {
  display: flex;
  justify-content: flex-start;
  margin-right: 60px;
  
  a {
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.2s ease;
    display: flex;
    align-items: center;
    
    &:hover {
      opacity: 0.8;
    }
  }
}

@media (max-width: 720px) {
  .wrapper {
    padding-left: 20px;
  }
}
