.wrapper {
  display: flex;
  width: 100%;
  max-width: 1200px;
  max-height: 555px;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(20, 136, 204, 0.10) 55.78%, rgba(43, 50, 178, 0.10) 100%);  margin: 130px auto;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10%;
  gap: 66px;
}

.image {
  //width: 34%;
  padding: 0 0 40px 0;
  max-height: 600px;
  max-width: 520px;
  margin-left: -50px;
}

.icon {
  margin: 30px 0;
  max-height: 225px;
  max-width: 150px;
}

.title {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 20px;
}

.description {
  margin: 0 auto;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1000px) {
  .wrapper {
    max-height: 360px;
  }

  .image {
    width: 367px;
    height: 408px;
  }

  .title {
    font-size: 26px;
  }

  .description {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    max-height: 800px;
  }

  .content {
    padding: 20px 20px 0 20px;
    flex-direction: column-reverse;
    gap: 0;
  }

  .title {
    margin: 0 0 20px 0;
    padding: 0;
  }

  .image {
    margin-left: auto;
    padding: 0;
    width: 267px;
    height: 308px;
    transform: scaleX(-1);
  }

  .icon {
    width: 108px;
    height: 72px;
    margin: 30px 0 -70px 0;
  }
}

@media (max-width: 400px) {
  .icon {
    width: 88px;
    height: 56px;
    margin: 30px 0 -30px 0;
  }
}

