@import "../../app/styles/variables";
@import "../../app/styles/colors";
@import "../../app/styles/mixins";

.hero {
  overflow-x: hidden;
  width: 100%;
  color: var(--white-color);
  transition: all 200ms;
}

.bg {
  background-image: url('wave.png');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}

.carouselContainer {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
  margin: 20px;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 100px;
}

.title {
  max-width: 570px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 120px;
  color: var(--white-color);
}

.image {
  padding-inline-end: 120px;
  padding-top: 44px;
  width: 453px;
  height: 439px;
}

.image img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.controls {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  padding: 40px 0;
  text-align: center;
}

.arrow {
  cursor: pointer;
  padding: 10px 14px 10px 15px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #FFF;
  margin: 5px;
}

@media (max-width: 1400px) {
  .content {
    align-items: center;
    gap: 30px;
  }

  .title {
    font-size: 40px;
    padding: 0  0 0 40px;
    margin-left: auto
  }

  .image {
    padding: 0 40px 0 0;
    margin-right: auto;
  }
}

@media (max-width: 1100px) {
  .title {
    font-size: 32px;
    padding-inline: 60px;
  }

  .content {
    gap: 0;
  }

  .image {
    max-height: 350px;
  }
}

@media (max-width: 900px) {
  .title {
    font-size: 30px;
    padding-inline: 60px;
  }

  .image {
    max-height: 300px;
  }
}

@media (max-width: 720px) {
  .title {
    font-size: 24px;
    margin: 0 40px 20px 40px;
    padding-inline: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .image {
    width: 80%;
    padding: 0;
    margin: 0 auto;
  }
}
