@use "../../app/styles/variables";
@use "../../app/styles/colors";
@use "../../app/styles/mixins";

.hero {
  overflow-x: hidden;
  width: 100%;
  color: var(--white-color);
  transition: all 200ms;
}

.bg {
  background-image: url('wave.png');
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  overflow-x: hidden;
}

.carouselContainer {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.header {
  margin: 20px;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 24px auto 0;
  gap: 100px;
}

.title {
  max-width: 570px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 120px;
  color: var(--white-color);
}

.image {
  padding-inline-end: 120px;
  padding-top: 44px;
  width: 453px;
  height: 439px;
}

.image img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.controls {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  padding: 40px 10px;
  text-align: center;
}

.arrow {
  cursor: pointer;
  padding: 16px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #FFF;
  margin: -5px 5px;
  background: transparent;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  :global(img) {
    transition: filter 0.3s ease;
    display: block;
  }

  @media (hover: hover) {
    &:hover {
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid #FFF;

      :global(img) {
        filter: brightness(0) saturate(100%) invert(43%) sepia(98%) saturate(2663%) hue-rotate(195deg) brightness(102%) contrast(105%);
      }
    }
  }

  &:active {
    transform: scale(0.98);
  }
}

@media (max-width: 1400px) {
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  .title {
    font-size: 40px;
    padding: 0 0 0 60px;
  }

  .image {
    padding: 0;
  }
}

@media (max-width: 1100px) {
  .title {
    font-size: 32px;
    padding-inline: 40px;
  }

  .content {
    gap: 0;
  }

  .image {
    max-height: 350px;
  }
}

@media (max-width: 900px) {
  .title {
    font-size: 30px;
    padding-inline: 60px;
  }

  .image {
    max-height: 300px;
  }
}

@media (max-width: 720px) {
  .hero {
    overflow-x: hidden !important;
    max-width: 100vw;
    width: 100%;
  }

  .bg {
    overflow-x: hidden !important;
    max-width: 100vw;
    width: 100%;
  }

  .carouselContainer {
    max-width: 100vw !important;
    width: 100% !important;
  }

  .title {
    font-size: 24px;
    margin: 0 40px 20px 40px;
    padding-inline: 0;
    max-width: calc(100vw - 80px);
  }

  .content {
    display: flex;
    flex-direction: column;
    max-width: 100vw !important;
    width: 100% !important;
  }

  .image {
    width: 80%;
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
  }
}
