@use "../../app/styles/mixins";

.header {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
  flex-shrink: 0;
  padding: 20px 20px 0;
  position: relative;
  z-index: 100;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.button {
  padding-left: 40px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  margin-right: 60px;
  
  a {
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.2s ease;
    display: flex;
    align-items: center;
    
    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media(max-width: 1000px) {
  .button {
    display: none;
  }
}