.burger {
  width: 32px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 101;
  padding: 0;
  margin-right: 8px;
  
  @media (min-width: 1024px) {
    display: none;
  }
}

.line {
  background-color: #FFFFFF;
  width: 24px;
  height: 2px;
  display: block;
  position: absolute;
  transition: all 0.5s ease;
}

.line:nth-child(1) {
  transform: translateY(-7px);
}

.line:nth-child(2) {
  opacity: 1;
}

.line:nth-child(3) {
  transform: translateY(7px);
}

// Active states
.lineTop {
  transform: translateY(0) rotate(45deg) !important;
}

.lineMiddle {
  opacity: 0 !important;
}

.lineBottom {
  transform: translateY(0) rotate(-45deg) !important;
}
