.lang {
  color: rgba(255, 255, 255, 0.60);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.2s ease, color 0.2s ease;
  min-width: 30px;
  text-align: center;
  
  @media (hover: hover) {
    &:hover {
      opacity: 0.8;
      color: rgba(255, 255, 255, 0.80);
    }
  }
  
  &:active {
    opacity: 0.6;
  }
}