.bg {
    background-color: #F9F9F9;
    padding: 20px;
}

.wrapper {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 130px 0 110px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.filterContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90dvw;
    max-width: 1200px;
    margin: 20px 0 20px 0;
    gap: 5px;

    .filter {
        &.activeFilter {
        }
    }
}

.image {
    width: 90dvw;
    margin: 40px 0 40px 0;
    max-width: 1200px;
}

.controls {
    max-width: 1300px;
    width: 90dvw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 40px;
    text-align: center;
    margin: 20px 0 20px 0;
}

.arrow {
    cursor: pointer;
    padding: 10px 14px 10px 15px;
    gap: 10px;
    border-radius: 10px;
    margin: 5px;
    background: var(--brand-blue-color);
}

.description {
    text-align: start;
    width: 70vh;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media (max-width: 1200px) {
    .image {
        margin: 10px 0;
    }
}

@media (max-width: 780px) {
    .controls {
        display: flex;
        flex-direction: column;
    }

    .arrowContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-left: auto;
        margin-top: 10px;
    }

    .description {
        font-size: 16px;
        max-width: 60dvw;
    }
}

@media (max-width: 780px) {
    .description {
        font-size: 14px;
        max-width: 60dvw;
    }
}