@use "../../../app/styles/mixins";
@use "../../../app/styles/colors";

.section {
  color: var(--white-color);
  display: inline-flex;
  align-items: flex-start;
  gap: 45px;
  
  a {
    text-decoration: none;
    color: var(--white-color);
    cursor: pointer;
    transition: opacity 0.2s ease;
    
    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.text {
  color: var(--white-color);
}

@media (max-width: 1000px) {
  .section {
    display: none;
  }
}